body {
    width: 700px;
    padding: 10px 20px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    gap: 1.2rem;
}

header img {
    width: 80px;
    height: auto;
}

header h1 {
    font-size: 1.5rem;
    margin: 10px 0 0 0;
}