{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "node/no-unpublished-require": ["error", {
      "allowModules": ["chai", "mock-req-res", "sinon", "sinon-chai", "@faker-js/faker"]
    }]
  }
}
